{% extends "base.html" %}



{% block content %}

<div class="row whitebackgrounddiv2">
    <div class="col-sm-3">

    </div>

    <div class="col-sm-6">
        <h4>Welcome to our chatroom - Go to the chat </h4>
        <button type="button" class="btn btn-sm btn-primary showrules">
            Click Here
        </button>

        <div class="rules">
            Read The Rules First!!!<br><br>
            1. Loren ipsum<br>
            2. Loren ipsum<br>
            3. Loren ipsum<br>
            4. Loren ipsum<br>
            5. Loren ipsum<br><br>
            <a href='signup_login' class="btn btn-success btn-sm goinside">Go Inside</a>
        </div>
        
    </div>

    <div class="col-sm-3">
        
    </div>
  


</div>


{% endblock %}